body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(45deg,  rgb(85, 173, 255),rgb(255, 59, 59));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 10vh;
  }

  .svg-container {
    width: 100%; /* Set the container's width to 100% */
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create a grid with auto-fit columns */
    grid-gap: 20px; /* Set the gap between grid items */
    justify-content: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    margin-top: 20px;
}

  

  